<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>{{resume_data.Name}}</h2>
    <h3>{{resume_data.Email}}</h3>
    <h3>{{resume_data.Dob}}</h3>
    <h3>{{resume_data.Number}}</h3>
    <h3>{{resume_data.Gender}}</h3>
    <h3>{{resume_data.Birth_place}}</h3>
    <hr>
    <h2>Summary:</h2>
    <h3>{{resume_data.Summary}}</h3>
    <h2>Education Qualification:</h2>
    <h3>SSC:</h3>
    <h3>{{resume_data.Ssc_year}}</h3>
    <h3>{{resume_data.Ssc_school}}</h3>
    <h3>{{resume_data.Ssc_board}}</h3>
    <h3>{{resume_data.Ssc_aggregate}}%</h3>
    <h3>HSC:</h3>
    <h3>{{resume_data.Hsc_year}}</h3>
    <h3>{{resume_data.Hsc_school}}</h3>
    <h3>{{resume_data.Hsc_board}}</h3>
    <h3>{{resume_data.Hsc_aggregate}}%</h3>
    <h3>GRADUATION:</h3>
    <h3>{{resume_data.Ug_year}}</h3>
    <h3>{{resume_data.Ug_collage}}</h3>
    <h3>{{resume_data.Ug_board}}</h3>
    <h3>{{resume_data.Ug_aggregate}}%</h3>
    <h2>Technical Skill:</h2>
    <h3>{{resume_data.Technical_skill}}</h3>
    <h2>Project:</h2>
    <pre><h3>{{resume_data.Project}}</h3></pre>
    <h2>Internship:</h2>
    <h3>Organization:{{resume_data.Internship}}</h3>
    <h2>Certificate:</h2>
    <h3>{{resume_data.Certificate}}</h3>
    <h2>Language known:</h2>
    <h3>{{resume_data.Language_known}}</h3>
    <h2>Hobbies:</h2>
    <h3>{{resume_data.Hobbies}}</h3>
    
</body>
</html>